@import "../../../../styles/colors";

.right-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  .section {
    background-color: #ffffff;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .profile-section {
    height: 70%;
    .name {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        padding: 1rem;
        height: 10rem;
      }
    }
    .details {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow: scroll;
      .item {
        display: flex;
        gap: 1rem;
        .logo {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 2rem;
          width: 2rem;
        }
        .birth {
          background-image: url("../../../icons/profile\ elements/calendar.png");
        }
        .gender {
          background-image: url("../../../icons/profile\ elements/gender.png");
        }
        .contact {
          background-image: url("../../../icons/profile\ elements/phone.png");
        }
        .insurance {
          background-image: url("../../../icons/profile\ elements/insurance.png");
        }
      }
    }
    .action-button {
      display: flex;
      justify-content: center;
    }
  }

  .reports-section {
    max-height: 28%;
    .reports {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      .row {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .download-icon {
          background-image: url("../../../icons/common/download-icon.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          height: 1rem;
          width: 1rem;
        }
        &:hover {
          cursor: pointer;
          background-color: $secondary-color;
        }
      }
    }
  }
}
