/*
* Colors.scss
*
* This file defines the global color variables
*/

$primary-color: #072635;
$secondary-color: #f6f7f8;
$tertiary-color: #d8fcf7;
$quaternary-color: #e0f3fa;
$fifth-color: #ffe6e9;
$sixth-color: #ffe6f1;
$accent-color: #01f0d0;
$light-grey-color: #fafafa;
$gray-color: #dddddd;
$light-color: #ffffff;
$border-color: #ececec;
$text-color: #072635;
$success-color: #18a803;
$error-color: #d32f2f;
$text-opacity77: #072635a1;
$text-opacity55: 8c;
$text-opacity33: 54;
$text-opacity15: 26;
$text-opacity10: 1a;
$text-opacity05: 0d;
